html ,body{
    font-display: swap ;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    height: 100%;
    width: 100%;
    direction: rtl;
    background-image: url("src/Gate.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    }
#login-box {
    height: 100%;
    border-left: 5px solid #28a745;
    text-align: center;
    position: fixed;               
    width: 450px;  
    max-width: 450px;         
    height: 100%;           
    background-color: #f0f0f0;
    font-size:medium;
    box-sizing: border-box; 
    }
    h2 ,h3{
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
section{
    display: block;
    margin-top: 30px;
    }
a{
    display: block;
    text-decoration: none;
    font-size: small;
    }
input{
    border-radius: 8px;
    font-family: 'Cairo', sans-serif;
    }   
    input[type="submit"]{
        background-color: #2e7d32;
        color: #ffffff;
        border: none;
    }
img{
    margin-top: 55px;
    width:50%;
    }
#submit{
    font-size: medium;
    font-family:system-ui, sans-serif;
    width: 100px;
    height: 50px;
    margin-top: 30px;
    }
footer {
    bottom: 0;
    width:100%;
    font-size:x-small;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    }
@media (max-width: 450px) {
    html ,body{
        background-image: none;
    }
    img{
    margin-top: 15px;
    }
    #login-box{
        width: 100%;
        text-align: center;
        border: none;
    }
    }
    @media (prefers-color-scheme: dark){
        #login-box {
            color: #f0f0f0;
            background-color:#181818;
        }
    }