html ,body{
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    height: 100%;
    width: 100%;
    background: #f0f0f0;
    overflow: -moz-hidden-unscrollable;
    display: flex;
}
aside{
  background: #2e7d32; 
  width: 300px;
  height: 100vh;
  padding: 20px; 
  color: #fff;
  z-index: 2;
}
main {
    margin: 20px;
    flex: 1;               
    padding: 1rem;
    overflow-y:auto;
    z-index: 0;   
}
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  max-width: 1000px;
  padding: 20px;
}
th,td{
    width: fit-content;
}

ul{
    list-style: none;
}
li{
    margin: 16px 0;  
}
#logo {
    width: 10em;
    display: block;
    margin: auto;
}
a{
    color: inherit;
    text-decoration: none;
}
.icon {
   display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  fill:currentColor;
}
div{
  display: block;
}
button, a.btn-link {
  font-family: inherit;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  max-width: 200px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 1;
  border: none;
  border-radius: 6px;
  background-color: #2e7d32;
  color: #f0f0f0;
  margin: 10px;
  text-decoration: none; 
  cursor: pointer;
}
@media (max-width: 450px) {
  #mobile{
    text-align: center;
  }
}
@media (prefers-color-scheme: dark){
        body {
            color: #f0f0f0;
            background-color:#181818;
        }
        input:not([type="button"]){
          color: #f0f0f0;
          background-color: #181818;
          border: none;
        }
    }