html ,body{
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    height: 100%;
    width: 100%;
    background-image: url(src/Gate.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    overflow: -moz-hidden-unscrollable;
    
}

@media (max-width: 500px) {
  #login-box {
    border: none !important; 
    width: 100% !important;
  }
  footer {
    text-align: center !important;
    right: 26vw !important;
  }
}


#login-box {
    height: 100%;
    border-left: 5px solid #0b703e;
    text-align: center;
    position: fixed;        
    top: 0;                 
    right: 0;         
    width: 100%;  
    max-width: 450px;         
    height: 100%;           
    background-color: #fef6d1;
    font-size:large;
    box-sizing: border-box;  
    }

section{
    display: block;
    margin-top: 50px;
}

form , label{
    display: inline;
    font-size: medium;
}
  
footer {
    font-size:xx-small;
    position:absolute;
    bottom: 0;
    right: 14.5vh;
    padding: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    font-size: smaller;
}
input{
    border-radius: 5px;
}
img{
    width:100%;
}
#submit{
    font-size: medium;
    font-family: 'Cairo', sans-serif;
    width: 100px;
    height: 50px;
    margin-top: 40px;
}