html ,body{
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    direction:rtl;
    height: 100%;
    width: 100%;
    background: #f0f0f0;
}
td ,tr ,th{
    text-align: center;
    border: #28a745 2px solid;
    line-height: 18px;
    font-size: 14px;
}
table{
    font-family: 'Cairo', sans-serif;
    table-layout: fixed;  
    text-align: center;
    border: #28a745 2px solid;
    border-collapse: collapse;
    border-radius: 1px;
    width: 90%;
    margin: 30px auto;
    table-layout: fixed;  
    
}
tbody ,thead{
    margin: 0;
    width: 100%;
    text-align: center;
}
button{
    display: block;
    border-radius: 8px;
    font-family: 'Cairo', sans-serif;
    background-color: #2e7d32;
    color: #ffffff;
    border: none;
    padding: 10px;
    margin: 0 auto;
    
}
th{
    background-color: #37a13c;
    color: #f0f0f0;
}
@media (max-width: 450px) {
    td ,tr ,th{
        font-size:7px;
    }
  }
@media (prefers-color-scheme: dark){
       html, body {
            color: #f0f0f0;
            background-color:#181818;
        }
        table,tbody,td ,tr ,th{
            border-color: #28a745;
        }
    }
  