html ,body{
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    direction:rtl;
    height: 100%;
    width: 100%;
    background: #f0f0f0;
    overflow: hidden;
}
td ,tr ,th{
    text-align: center;
    border: #000 2px solid;
    line-height: 15px;
    font-size: 12px;
    
}
table ,tbody{
    margin: 30px auto;
    display: table;
    width: 90%;
    text-align: center;
    border: #000 1px solid;
    border-collapse: collapse;
    border-radius: 1px;
}
tbody{
    margin: 0;
    width: 100%;
}
th{
    background-color: #37a13c;
    color: #f0f0f0;
}
@media (max-width: 450px) {
    td ,tr ,th{
        font-size: 9px;
    }
  }
@media (prefers-color-scheme: dark){
       html, body {
            color: #f0f0f0;
            background-color:#181818;
        }
        table,tbody,td ,tr ,th{
            border-color: #696969;
        }
    }
  